<div class="col-md-4">

  <h2>Edit idea</h2>

  <%= simple_form_for @idea do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit "Submit", class:"btn btn-primary", data: {disable_with: "Submitting"} %>
  <% end %>
</div>
