<h2>admin users list</h2>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>username</th>
      <th>email</th>
      <th>created at</th>
      <th>權限</th>
      <th>轉換權限</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.to_s(:db) %></td>
        <td>
          <% if user.is_admin? %>
            管理者
          <% elsif user.is_grounded %>
            被水桶
          <% else %>
            一般使用者
          <% end %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
